Repository jtoloui/depviz: changes, and which Codecov flags are due for each by the changed paths.
All: Scanner, Classifier, Render, Config, CLI Output

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 70%

ignore:
  - "main.go"
  - "cmd/**"

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: scanner
      name: Scanner
      paths:
        - internal/scanner/**
    - component_id: classify
      name: Classifier
      paths:
        - internal/classify/**
    - component_id: render
      name: Render
      paths:
        - internal/render/**
    - component_id: config
      name: Config
      paths:
        - internal/config/**
    - component_id: cli
      name: CLI Output
      paths:
        - internal/cli/**

test: add tests for e2e, config & multi lang for scanner
  e2e_test.go
  internal/config/config_test.go
  internal/scanner/scanner_test.go
Due: Scanner, Config

chore: add missing unhappy paths for multi scan for go and js paths
  internal/scanner/scanner_test.go
Due: Scanner

Add catalog-info.yaml config file
  catalog-info.yaml
Due: none

Add catalog-info.yaml config file (#1)
  catalog-info.yaml
Due: none

feat: add package.json dependency health analysis
  .github/workflows/release.yml
  .kiro/steering/product.md
  .kiro/steering/structure.md
  README.md
  cmd/root.go
  cmd/scan.go
  cmd/serve.go
  cmd/stats.go
  e2e_test.go
  internal/cli/output.go
  internal/cli/stats.go
  internal/cli/stats_test.go
  internal/config/config.go
  internal/config/defaults.go
  internal/manifest/manifest.go
  internal/manifest/manifest_test.go
  internal/manifest/resolve.go
  internal/manifest/workspace.go
  internal/render/app.js
  internal/render/html.go
  internal/render/html_test.go
  internal/render/styles.css
  internal/render/template.html
Due: Render, Config, CLI Output
